#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* IconSwitch */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}


.icon-wrapper {
  text-align: right;
  margin-bottom: 10px;
}

.material-icons {
  cursor: pointer;
}

/* card */
.shopItem__content {
  margin-top: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f5f5;
  padding: 0 15px;
}

.shopItem__name, .shopCard__name {
  font-size: 20px;
  font-weight: 600;
}

.shopItem__color, .shopCard__color {
  font-size: 12px;
  color: #808080;
}

.shopItem__img, .shopCard__img {
  max-width: 100%;
}

.shopItem__img {
  height: 100px;
}

.shopItem__price, .shopCard__price {
  color: #ff0000;
}

.btn {
  color: #ff0000;
  background-color: transparent;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #ff0000;
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
}

.cardsView {
  display: flex;
  flex-wrap: wrap;
}

.shopCard {
  box-sizing: border-box;
  width: 30%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 15px 10px;
  margin-right: 5%;
  border-radius: 10px;
  box-shadow: 0px 5px 10px #808080;
}

.shopCard:nth-child(3n + 3) {
  margin-right: 0;
}

.shopCard:nth-child(n + 4) {
  margin-top: 25px;
}

.shopCard__footer {
  display: flex;
  justify-content: space-around;
}